* {
    font-family: Poppins;
}

.small {
    color: orangered;
}

.green {
    color: green;
}

.logo {
    width: 118.07px;
    height: 35px;
    left: 292px;
    top: 45px;
}

.buton {
    border: none;
    border-radius: 40px;
}


/* Rectangle 2 */

.board {
    position: absolute;
    width: 270px;
    height: 270px;
    background: #ffffff;
    border-radius: 10px;
}

.icon {
    position: absolute;
    width: 70px;
    height: 85px;
    margin: 6rem;
    margin-top: 4rem;
}

.txt-icon {
    /* 1500+ Topic */
    position: absolute;
    width: 138px;
    height: 36px;
    left: 50px;
    top: 180px;
    font-weight: 5px;
    line-height: 36px;
    /* identical to box height */
    color: #413960;
}

.gray {
    color: gray;
}

.board1 {
    position: absolute;
    width: 270px;
    height: 270px;
    left: 35vw;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.157);
    border-radius: 10px;
}

.board2 {
    position: absolute;
    width: 270px;
    height: 270px;
    left: 55vw;
    background: #ffffff;
    border-radius: 10px;
}

.board3 {
    position: absolute;
    width: 270px;
    height: 270px;
    left: 72vw;
    background: #ffffff;
    border-radius: 10px;
}