* {
    font-family: Poppins;
}

.small {
    color: orangered;
}

.green {
    color: green;
}

.logo {
    width: 118.07px;
    height: 35px;
    left: 292px;
    top: 45px;
}

.buton {
    border: none;
    border-radius: 40px;
}