* {
    font-family: Poppins;
}

.small {
    color: orangered;
}

.green {
    color: green;
}

.logo {
    width: 118.07px;
    height: 35px;
    left: 292px;
    top: 45px;
}

.buton {
    border: none;
    border-radius: 40px;
}


/* Rectangle 2 */

.board {
    position: absolute;
    width: 270px;
    height: 270px;
    background: #ffffff;
    border-radius: 10px;
}

.icon {
    position: absolute;
    width: 66px;
    height: 85px;
    margin: 6rem;
}